node_modules/
farhat-guitar-divi-child/launch.json
farhat-guitar-divi-child/settings.json
farhat-guitar-divi-child/wp
farhat-guitar-divi-child/php_error_log.txt
.vscode/launch.json
.vscode/settings.json
